@page "/cart"

@using BikeDistributor.Domain.Models;
@using BikeDistributor.Domain.Entities;
@using BikeDistributor.Infrastructure.core;
@using BikeDistributor.Infrastructure.interfaces;
@using BikeShop.BlazorComponents.Components;
@using AKSoftware.Blazor.Utilities;
@using BikeShop.Helpers;
@using BikeShop.Services;
@using System.Text;
@using Newtonsoft.Json;

@inject HttpClient RestClient;
@inject IJSRuntime JSRuntime;
@inject BikeShopUserService UserService;
@inject ConfigService ConfigService;

<h3 class="text-muted">Cart</h3>
@if (EntityBikes == null)
{
    <Spinner />
}
else
{
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input class="form-control-lg" type="text" placeholder="Search">
                    </div>
                </div>
               <Button HTMLCssClass="btn-primary" HTMLId="btnAdvancedSearch" Label="Find my Bike" />
            </div>
            <br />
            <div class="input-group">
                <div class="input-group-text">
                    <input type="radio" class="p-1" aria-label="Radio button for following text input" checked><span style="padding: 5px">All</span> 
                    <input type="radio" class="p-1" aria-label="Radio button for following text input"><span style="padding: 5px">Only Standard Bikes</span> 
                    <input type="radio" class="p-1"  aria-label="Radio button for following text input"><span style="padding: 5px">Only Customisable Bikes</span>
                </div>
            </div>
        </div>
    </form>

    <hr />
    <div class="card-group" style="justify-content: space-between;">
        @foreach (MongoEntityBike meb in EntityBikes)
        {
            <div class="card border-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">@meb.Bike.Brand</div>
                <div class="card-body text-dark">
                    <h5 class="card-title">@meb.Bike.Model</h5>
                    <p class="card-text">@meb.Bike.Description</p>
                </div>
                <div class="card-footer text-muted">
                    @(meb.Bike.isStandard == true ? "only:" : "from:")
                    $ @meb.Bike.BasePrice
                </div>
            </div>
        }
    </div>
}
@code {
    private List<MongoEntityBike> EntityBikes;
    private async Task GetBikesAsync()
    {
        var url = ConfigService.GetUrl("BikeList.Read");
        var jsonResponse = await RestClient.GetStringAsync(url);
        EntityBikes = JsonUtils.DeserializeMongoEntityBikeList(jsonResponse);
    }
    protected override async Task OnInitializedAsync()
    {
        await GetBikesAsync();
    }

    //protected async override Task OnAfterRenderAsync(bool firstRender)
    //{

    //}

}
