@using BikeDistributor.Domain.Models;
@using BikeDistributor.Domain.Entities;
@using BikeDistributor.Infrastructure.core;
@using BikeShop.BlazorComponents.Components;
@using AKSoftware.Blazor.Utilities;

@inject HttpClient RestClient;
@inject IJSRuntime JSRuntime;

<span aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Admin</li>
        <li class="breadcrumb-item active" aria-current="page">Bikes</li>
    </ol>
</span>
<div>

    <!--ecce homo <span>@url</span>-->@*<span>@Configuration.GetSection("BikeShopWS").GetValue("baseUrl", "")</span>*@
    <span>@responseContent</span>
</div>

@if (EntityBikes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <span>@greeting</span>
    <HtmlTable Items="EntityBikes" Context="EntityBike" HTMLId="BikeList">
        <HeaderTemplate>
            <th>Model</th>
            <th>Brand</th>
            <th>Type</th>
            <th>Tot. Price</th>
            <th>&nbsp;</th>
        </HeaderTemplate>
        <RowTemplate>
            <td>@EntityBike.Bike.Model</td>
            <td>@EntityBike.Bike.Brand</td> 
            <td>@(EntityBike.Bike.isStandard ? "Standard" : "Custom")</td>
            <td>@EntityBike.TotalPrice</td>
            <td><Button HTMLId="@(EntityBike.Id.Replace(" ","_") + "_editButton")" Label="EDIT" ClickEventName="BikeList_editIemClick"/></td>
        </RowTemplate>
    </HtmlTable>
}
@code {
    private List<MongoEntityBike> EntityBikes;
    //private string url;
    private string responseContent;
    private string greeting;
    private bool JTableIsLoaded { get; set; } = false;

    public void SubscribeToMessage()
    {
        MessagingCenter.Subscribe<Button, string>(this, "BikeList_editIemClick", (sender, value) =>
        {
            // Do actions against the value 
            // If the value is updating the component make sure to call StateHasChanged
            greeting = $"Welcome {value}";
            StateHasChanged();//not needed ATM
        });
    }

    protected override async Task OnInitializedAsync()
    {


        //url = Configuration.GetSection("BikeShopWS").GetValue("baseUrl", "");
        try
        {
            var jsonResponse = await RestClient.GetStringAsync("/bike");
            EntityBikes = JsonUtils.DeserializeMongoEntityBikeList(jsonResponse);
            SubscribeToMessage();
            //responseContent = "items fetched: " + EntityBikes.Count.ToString();
            //responseContent += "<br />" + jsonResponse;

            //EntityBikes = await RestClient.GetFromJsonAsync<List<MongoEntityBike>>("/bike");

        }
        catch (Exception ex)
        {
            responseContent = ex.Message + " " + ex.InnerException + ex.StackTrace;
        }

    }
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        //if (firstRender)
        //{
        //    //await JSRuntime.InvokeVoidAsync("bootstrapNS.SayHello", "Marcello");//works
        //    //await JSRuntime.InvokeVoidAsync("bootstrapNS.MakeRichTables");
        //await JSRuntime.InvokeAsync<object>("initializeDataTable", ".table");

        //}
        //if (firstRender)
        //{
        //var jQuery = await JSRuntime.InvokeAsync<IJSObjectReference>("$", "table");
        //await jQuery.InvokeVoidAsync("DataTable");
        //}
        //await JSRuntime.InvokeAsync<object>("initializeDataTable", ".table");
        if (JTableIsLoaded == false)
        {
            await JSRuntime.InvokeVoidAsync("bootstrapNS.JSDataTable", "#BikeList", new object[] { });
            JTableIsLoaded = true;
        }

    }
}
