@using BikeDistributor.Domain.Models;
@using BikeDistributor.Domain.Entities;
@using BikeDistributor.Infrastructure.core;
@using BikeDistributor.Infrastructure.interfaces;
@using BikeShop.BlazorComponents.Components;
@using AKSoftware.Blazor.Utilities;
@using BikeShop.Helpers;
@using BikeShop.Services;
@using System.Text;
@using Newtonsoft.Json;

@*@using BikeShop.Protos;
    @using Google.Protobuf.WellKnownTypes;
    @using AutoMapper;*@

@inject HttpClient RestClient;
@inject IJSRuntime JSRuntime;
@inject BikeShopUserService UserService;
@*@inject Bikes.BikesClient bc;
    @inject IMapper m;*@

<div aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Admin</li>
        <li class="breadcrumb-item active" aria-current="page">Bikes</li>
    </ol>
</div>
<div>



    <!--ecce homo <span>@url</span>-->@*<span>@Configuration.GetSection("BikeShopWS").GetValue("baseUrl", "")</span>*@
    <span>@responseContent</span>
</div>

@if (EntityBikes == null)
{
    <Spinner />

}
else
{
    <Button HTMLId="btnNewBike" HTMLCssClass="btn-primary float-right" Icon="oi oi-plus" Label="ADD NEW" ClickEventName="BikeList_addBikeItemClick" />
    <div style="clear:both;"></div>
    <br />
    <Alert HTMLId="MainAlert" @ref="MainAlert" AutoFade=0>
        @message<span>&nbsp;</span>
        @if (showConfirmButton)
        {
            <Button HTMLId="btnConfirmDelete" HTMLCssClass="btn-primary" Icon="oi oi-thumb-up" Label="Delete It!" ClickEventName="BikeList_OnDeleteConfirmed" />
            <br />
        }
    </Alert>
    <div style="clear:both"></div>
    <HtmlTable Items="EntityBikes" Context="EntityBike" HTMLId="BikeList" @ref="BikeList">
        <HeaderTemplate>
            <th>Model</th>
            <th>Brand</th>
            <th>Type</th>
            <th>Base Price</th>
            <th>&nbsp;</th>
        </HeaderTemplate>
        <RowTemplate>
            <td>@EntityBike.Bike.Model</td>
            <td>@EntityBike.Bike.Brand</td>
            <td>
                @(EntityBike.Bike.isStandard ? "Standard" : "Custom")
                @if (EntityBike.IsStandard == false)
                {
                <Button HTMLId="@(EntityBike.Id.Replace(" ","_") + "_addOptionsButton")" Icon="oi oi-plus" HTMLCssClass="btn-success btn-sm float-right" Label="ADD OPTIONS" ClickEventName="BikeList_addOptionsIemClick" />
                }
        </td>
        <td>@EntityBike.Bike.BasePrice</td>
        <td>
            <Button HTMLId="@(EntityBike.Id.Replace(" ","_") + "_editButton")" HTMLCssClass="btn-primary btn-sm" Icon="oi oi-pencil" Label="EDIT" ClickEventName="BikeList_editItemClick" />
            <Button HTMLId="@(EntityBike.Id.Replace(" ","_") + "_deleteButton")" HTMLCssClass="btn-danger btn-sm" Icon="oi oi-trash" Label="DELETE" ClickEventName="BikeList_deleteItemClick" />

        </td>
    </RowTemplate>
</HtmlTable>
    <!-- temp-->
    <!-- HIDDEN MODALS -->
    <Modal HTMLId="EditBikeModal" HeaderTitle="EDIT" HTMLCssClass="modal-md" ShowFooter="false">
        <HeaderTemplate>
            <h5 class="modal-title" id="editBikeModalH5"><span class="oi oi-pencil"></span> @(selectedId !="" ? "Editing bike " + @selectedId : "Add new bike")</h5>
            <span class="rounded-circle  light-purple-bg" style="background-color: white;">
                <button type="button" class="close" @onclick="CloseEditBikeModal" data-dismiss="modal" aria-label="Close" style="margin-right: -2px;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </span>
        </HeaderTemplate>
        <ChildContent>
            <EditForm EditContext="@EditContext" OnSubmit="@HandleSubmit" class="row p-3">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="col-md-6 mb-3">
                    <label for="Model">Model</label>
                    <InputText id="Model" @bind-Value="ProductModel.Model" class="form-control" />
                </div>
                <div class="col-md-6 mb-3">
                    <label for="BasePrice">Price</label>
                    <InputNumber id="BasePrice" @bind-Value="ProductModel.BasePrice" class="form-control" />
                </div>
                <div class="col-md-6 mb-3">
                    <label for="Brand">Brand</label>
                    <InputText id="Brand" @bind-Value="ProductModel.Brand" class="form-control" />
                </div>
                <div class="col-md-12 mb-3">
                    <label for="Description">Description</label>
                    <InputTextArea id="Description" @bind-Value="ProductModel.Description" class="form-control" />
                </div>
                <div class="col-12 mb-3">
                    <div class="form-check">
                        <InputCheckbox id="IsStandard" @bind-Value="ProductModel.isStandard" class="form-check-input" />
                        <label class="form-check-label" for="IsStandard">
                            Standard
                        </label>
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </EditForm>
        </ChildContent>
        @*<FooterTemplate>
            here save and close buttons
            </FooterTemplate>*@
    </Modal>
    <Modal HTMLId="EditOptionsModal" HTMLCssClass="modal-xl" HeaderTitle="Bike Options">
        <HeaderTemplate>
            <h5 class="modal-title" id="editBikeModalH5"><span class="oi oi-wrench"></span> Options for Bike... @selectedId</h5>
            <span class="rounded-circle  light-purple-bg" style="background-color: white;">
                <button type="button" class="close" @onclick="CloseEditBikeModal" data-dismiss="modal" aria-label="Close" style="margin-right: -2px;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </span>
        </HeaderTemplate>
        <ChildContent>
            <div class="row">
                <div class="col col-1">&nbsp;</div>
                <div class="col col-6">
                    <MultiSelect HTMLId="multiselect" RightPaneId="multiselect_to" @ref="BikeOptionList" SelectableItems="@SelectableBikeOptions" SelectedItems="@ProductModel.SelectedOptions">
                        <SelectableItemsTemplate>
                            @foreach (MongoEntityBikeOption mbo in SelectableBikeOptions)
                        {
                            <option value="@mbo.BikeOption.Name" @onclick="@(e=>OnOptionClicked(mbo.BikeOption.Name))">@(mbo.BikeOption.Name)</option>
                        }

                    </SelectableItemsTemplate>
                    <SelectedItemsTemplate>
                        @foreach (BikeOption bo in ProductModel.SelectedOptions)
                            {
                            <option value="@bo.Name">@bo.Name</option>
                            }

                    </SelectedItemsTemplate>
                </MultiSelect>
                <hr />
                <BikeOptionCard @ref="BikeOptionCard" />
            </div>
            <div class="col col-5">
                
               
                <h5>Add new Bike option</h5>
                <EditForm EditContext="@BikeOptionEditContext" OnSubmit="@HandleAddOption">
                    
                    <div class="col-md-6 mb-3">
                        <label for="OptionName">Name</label>
                        <InputText id="OptionName" @bind-Value="OptionModel.Name" class="form-control" />
                    </div>
                     <div class="col-md-6 mb-3">
                        <label for="OptionPrice">Price</label>
                        <InputNumber id="OptionPrice" @bind-Value="OptionModel.Price" class="form-control" />
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="OptionDescription">Description</label>
                        <InputTextArea id="OptionDescription" @bind-Value="OptionModel.Description" class="form-control" />
                    </div>
                   <div class="col-12 mb-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                </EditForm>
            </div>
        </div>
    </ChildContent>
    <FooterTemplate>
        <button type="submit" class="btn btn-primary" @onclick="OnSaveOptions">Save Options</button>
    </FooterTemplate>
</Modal>
}
@code {
    private List<MongoEntityBike> EntityBikes;
    private string selectedId = "";
    private string deletableObjId;
    private string responseContent;
    private string message;
    //private ElementReference MainAlert;
    private Alert MainAlert;
    private GenericBike ProductModel;
    private List<MongoEntityBikeOption> SelectableBikeOptions;
    private EditContext EditContext;
    private BikeShopUserInfo CurrentUser;//always check if not null in the razor html
    private bool showConfirmButton = false;
    private HtmlTable<MongoEntityBike> BikeList;
    private MultiSelect<MongoEntityBikeOption, BikeOption> BikeOptionList;
    private string currentModal = "";
    private BikeOptionCard BikeOptionCard;
    private EditContext BikeOptionEditContext;
    private BikeOption OptionModel = new BikeOption();
    [CascadingParameter]
    public MainLayout Layout { get; set; }

    #region "Form handlers"
    private async Task OnSaveOptions()
    {
        //TODO: make a js call to check selecteditems
        string[] selectedValues = await JSRuntime.InvokeAsync<string[]>("bootstrapNS.GetSelectedOptions","#multiselect_to");
        var selectedOptions = (from x in SelectableBikeOptions.AsQueryable()
                                        .Where(o => selectedValues.Contains(o.Id))
                               select x.BikeOption).ToList();
        var mongoEntity = EntityBikes.AsQueryable().Where(x => x.Id == selectedId).SingleOrDefault();
        var bv = (BikeVariant)mongoEntity.Bike;
        bv.ClearOptions();

        foreach(var option in selectedOptions)
        {
            var o = (BikeOption)option;
            bv.SetTotalPrice(o);
        }

        mongoEntity.Update(bv);
        var Jmeb = JsonConvert.SerializeObject(mongoEntity);
        await RestClient.PostAsync("/Bikes/update?entity=" + Jmeb, null);
        selectedId = "";
        CloseEditBikeModal();
        await Layout.PopulateMainToastAsync("Operation result", "bike update!", "alert-success", "oi oi-circle-check");
        await GetBikesAsync(true);
        StateHasChanged();
    }
    private async Task HandleAddOption()
    {
        if (BikeOptionEditContext.Validate())
        {
            //TODO: refresh bike option list in specific tab
            var b = JsonConvert.SerializeObject(OptionModel);
            var result = await RestClient.PostAsync("/BikeOption/create?bikeoption=" + b, null);
            //responseContent = await result.Content.ReadAsStringAsync(); //ok but not using it here
            OptionModel = new BikeOption();
            await GetSelectableOptionsAsync();
            StateHasChanged();
        }
    }
    /// <summary>
    /// Save Item
    /// </summary>
    /// <returns></returns>
    private async Task HandleSubmit()
    {
        //Console.WriteLine("HandleSubmit Called...");

        if (EditContext.Validate())
        {
            //Console.WriteLine("Form is Valid...");
            var MongoEntity = EntityBikes.AsQueryable<MongoEntityBike>().Where(x => x.Id == selectedId).SingleOrDefault();

            if (MongoEntity != null)
            {
                //update
                ProductModel = JsonUtils.Convert<Object, GenericBike>(EditContext.Model);

                MongoEntity.Update(ProductModel);
                var meb = JsonConvert.SerializeObject(MongoEntity);
                await RestClient.PostAsync("/Bikes/update?entity=" + meb, null);
                CloseEditBikeModal();
                await Layout.PopulateMainToastAsync("Operation result", "bike update!", "alert-success", "oi oi-circle-check");
                await GetBikesAsync(true);
            }
            else
            {
                //var data = new StringContent(bike, Encoding.UTF8, "application/json");
                var bike = JsonConvert.SerializeObject(ProductModel);
                await RestClient.PostAsync("/Bikes/create?bike=" + bike, null);
                CloseEditBikeModal();
                await Layout.PopulateMainToastAsync("Operation result", "bike inserted!", "alert-success", "oi oi-circle-check");
                //responseContent = " HandleSubmit called";
                await GetBikesAsync(true);
                //StateHasChanged();
            }
            selectedId = "";
            ProductModel = new GenericBike();
        }

    }
    #endregion
    #region "Components handlers"
    public void OnOptionClicked(string optionName)
    {
        var mo = SelectableBikeOptions.AsQueryable<MongoEntityBikeOption>()
                              .Where(x => x.BikeOption.Name == optionName).SingleOrDefault();
        BikeOptionCard.SetBikeOption((BikeOption)mo.BikeOption);
    }
    /// <summary>
    ///
    /// </summary>
    public void SubscribeToEditOptionPanel()
    {
        MessagingCenter.Subscribe<Button, string>(this, "BikeList_addOptionsIemClick", (sender, value) =>
        {
            selectedId = StringHelper.NormaliseStringId(value, "_addOptionsButton");
            currentModal = "#EditOptionsModal";
            JSRuntime.InvokeVoidAsync("bootstrapNS.ToggleModal", currentModal, "show");
            //TODO: EXCLUDE ALREADY SELECTED ITEMS FROM OPTIONS LIST

            StateHasChanged();
        });
    }
    public void CloseEditBikeModal()
    {
        try
        {
            JSRuntime.InvokeVoidAsync("bootstrapNS.ToggleModal", currentModal, "hide");//make 2nd params dynamic
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message + " " + ex.InnerException);
        }

        //MainAlert.ChangeVisible(false);
        currentModal = "";
    }
    /// <summary>
    ///
    /// </summary>
    public void SubscribeToOnDeleteConfirmed()
    {
        MessagingCenter.Subscribe<Button, string>(this, "BikeList_OnDeleteConfirmed", async (sender, value) =>
        {
            var MongoEntity = EntityBikes.AsQueryable<MongoEntityBike>()
                              .Where(x => x.Id == deletableObjId).SingleOrDefault();

            await RestClient.PostAsync("/Bikes/delete?entity=" + JsonConvert.SerializeObject(MongoEntity), null);
            MainAlert.ChangeVisible(false);
            showConfirmButton = false;
            deletableObjId = null;
            await Layout.PopulateMainToastAsync("Operation result", $"bike {deletableObjId} deleted!", "alert-success", "oi oi-circle-check");
            await GetBikesAsync(true);
            StateHasChanged();
        });
    }

    /// <summary>
    ///
    /// </summary>
    public void SubscribeToDeleteItemClick()
    {
        MessagingCenter.Subscribe<Button, string>(this, "BikeList_deleteItemClick", (sender, value) =>
        {
            showConfirmButton = true;
            message = $"Please confirm you want to delete item {StringHelper.NormaliseStringId(value, "_deleteButton")}";
            MainAlert.ChangeCssClass("alert-danger");
            MainAlert.SetAutoFade(10000);
            MainAlert.ChangeVisible(true);
            deletableObjId = StringHelper.NormaliseStringId(value, "_deleteButton");

            StateHasChanged();
        });
    }
    /// <summary>
    /// Opens edit item modal passing selected item
    /// </summary>
    public void SubscribeToEditItemClick()
    {
        MessagingCenter.Subscribe<Button, string>(this, "BikeList_editItemClick", (sender, value) =>
        {
            // Do actions against the value
            selectedId = StringHelper.NormaliseStringId(value, "_editButton");
            showConfirmButton = false;
            // If the value is updating the component make sure to call StateHasChanged
            message = $"You are editing {selectedId}";
            MainAlert.ChangeCssClass("alert-primary");
            MainAlert.SetAutoFade(3000);
            MainAlert.ChangeVisible(true);
            var MongoEntity = EntityBikes.AsQueryable<MongoEntityBike>()
                                .Where(x => x.Id == selectedId).SingleOrDefault();
            if (MongoEntity.Bike.isStandard)
            {
                var bike = (Bike)MongoEntity.Bike;
                ProductModel = JsonUtils.Convert<Bike, GenericBike>(bike);
            }
            else
            {
                var bike = (BikeVariant)MongoEntity.Bike;
                ProductModel = JsonUtils.Convert<BikeVariant, GenericBike>(bike);
            }

            EditContext = new EditContext(ProductModel);
            currentModal = "#EditBikeModal";
            JSRuntime.InvokeVoidAsync("bootstrapNS.ToggleModal", currentModal, "show");

            StateHasChanged();
        });
    }
    /// <summary>
    /// Opens Add item Modal
    /// </summary>
    public void SubscribeToNewItemClick()
    {
        //BikeList_addBikeIemClick
        MessagingCenter.Subscribe<Button, string>(this, "BikeList_addBikeItemClick", (sender, value) =>
        {
            ProductModel = new GenericBike();
            EditContext = new EditContext(ProductModel);

            currentModal = "#EditBikeModal";
            JSRuntime.InvokeVoidAsync("bootstrapNS.ToggleModal", currentModal, "show");
            selectedId = "";
            StateHasChanged();
        });
    }
    #endregion
    #region "Data Handlers"
    private async Task GetBikesAsync(bool refreshTable = false)
    {
        ProductModel = new GenericBike();
        EditContext = new EditContext(ProductModel);
        
        //url = Configuration.GetSection("BikeShopWS").GetValue("baseUrl", "");
        try
        {
            var jsonResponse = await RestClient.GetStringAsync("/Bikes");
            EntityBikes = JsonUtils.DeserializeMongoEntityBikeList(jsonResponse);
            //var response = await bc.GetBikesAsync(new Google.Protobuf.WellKnownTypes.Empty());
            //EntityBikes = m.Map<List<MongoEntityBike>>(response.BikeEntities.AsEnumerable());
            if (refreshTable)
            {
                //responseContent = " bikes found " + EntityBikes.Count.ToString();
                BikeList.RefreshComponent(EntityBikes);
                await JSRuntime.InvokeVoidAsync("bootstrapNS.RefreshJSDataTable", "#BikeList", new object[] { });
                StateHasChanged();
            }

        }
        catch (Exception ex)
        {
            responseContent = ex.Message + " " + ex.InnerException + ex.StackTrace;
        }

    }
    private async Task GetSelectableOptionsAsync()
    {
        BikeOptionEditContext = new EditContext(OptionModel);
        var jsonResponse = await RestClient.GetStringAsync("/BikeOption");
        SelectableBikeOptions = JsonUtils.DeserializeMongoEntityBikeOptionList(jsonResponse);
    }
    #endregion
    #region "Page handlers"
    protected override async Task OnInitializedAsync()
    {

        await GetBikesAsync();
        await GetSelectableOptionsAsync();
        CurrentUser = UserService.GetCurrentUser();
        SubscribeToEditItemClick();
        SubscribeToDeleteItemClick();
        SubscribeToNewItemClick();
        SubscribeToEditOptionPanel();
        SubscribeToOnDeleteConfirmed();
    }
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {

        await JSRuntime.InvokeVoidAsync("bootstrapNS.JSDataTable", "#BikeList", new object[] { });
    }
    #endregion
}
